#IntelliJ PyCharm or IDEA
/.idea
*.iml

#VSCode Local Configurations
.vscode/*

#__pycache__ Content
*.pyc
*.pyo

#C-build Stages
*.o
*.dll

#Allow VScode Build Template Share
!BUILD-TEMPLATE/tasks.json
/environment/Scripts/python.exe
/environment/Scripts/pythonw.exe
/environment/pyvenv.cfg
/sttutter-youtube-audiobot.iml
/cache/

#Spleeter's pre-trained models
/pretrained_models/
/out/
