#VSCode Local Configurations
.vscode/*

#__pycache__ Content
*.pyc
*.pyo

#C-build Stages
*.o
*.dll

#Allow VScode Build Template Share
!BUILD-TEMPLATE/tasks.json
/.idea/.gitignore
/.idea/aws.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/Project_Default.xml
/environment/Scripts/python.exe
/environment/Scripts/pythonw.exe
/environment/pyvenv.cfg
/sttutter-youtube-audiobot.iml
/.idea/vcs.xml
/cache/

#Spleeter's pre-trained models
/pretrained_models/